*{
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
#main{
  padding-bottom: 20px;
}
.nav-link{
  border-radius: 10px;
}
.hover-blanco:hover{
  background-color: #fefeff87;
}

#modoOscuro,#modoClaro{
  cursor: pointer;
  border-radius: 10px;
  padding: 7px;
  height: 40px;
  width: auto;
}
#modoClaro{
  display: none;
}

.modoOscuro{
  background-color: #212325 !important;
}
.textoBlanco{
  color: white !important;
}
nav, footer {
  background: rgb(115,254,95) !important;
  background: linear-gradient(90deg, rgba(115,254,95,1) 0%, rgba(45,223,238,1) 0%, rgba(153,232,241,1) 50%, rgba(45,223,238,1) 100%) !important;
  border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  font-size: large;
}

#logo{
  min-width: auto;
  max-height: 70px;
}

.history {
  margin-top: 30px;
  margin-bottom: 10px;
  border: 2px solid #CBCBCB !important;
  border-radius: 5px;
  width: 40%;
  align-items: center;
}
.history p{
  max-width: 95%;
}

#carouselExampleInterval{
  height: 200px;
  width: 40%;
}
#carouselExampleInterval img{
  height: 230px;
}
.apartado-titulo{
  padding-left: 2em ;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer p {
  margin-bottom: 0;
}
.social-media{
  padding: 1px;
  max-width: 30px;
  max-height: 30px;
  margin: 10px;
}
.align-center{
  align-items: center !important;
}


@media only screen and (max-width:900px) {
  .flex-row{
    flex-direction: column !important;
  }
  .history{
    width: 90%;
  }
  #carouselExampleInterval{
    height: 300px;
    width: 90%;
  }
  #carouselExampleInterval img{
    height: 300px;
  }
  .apartados{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .apartado-titulo{
    padding: 0;
  }
  .card{
    margin-top: 10px;
    width: 90vw !important;
  }
}